$main-green: #d8ebdd;
$black: #000;

body {
    background-color: $main-green;
    box-sizing: border-box;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
