.dropdown {
    .btn {
      padding: 15px 0;
      border-radius: 30px;
    }
    
    .btn-r {
      font-size: 30px;
      font-weight: bold;
    }

    &-menu {
      border-radius: 30px;
      padding: 10px;
    }
  }
  .dropdown-item {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
    &:focus {
      text-decoration: underline;
      background-color: transparent;
      color: $black;
    }
  }